{{#section "css"}}

<link rel='stylesheet' href='/css/banner.css' />
<link rel='stylesheet' href='/css/product.css' />
<link rel='stylesheet' href='/css/splash_screen.css' />
<link rel='stylesheet' href='/css/chain.css' />

{{/section}}

<body>
  <!-- Splash Screen -->
  <!-- <div id="splash-screen">
    <div class="heart"></div>
    <div class="heart-break"></div>
  </div> -->
  <!-- Navbar -->

  <header>
    <!-- Banner -->
    <section class='banner'>

      <div class='banner-content'>
        <h1>Welcome to Rise Shop</h1>
        <p>Your one-stop shop for all things awesome!</p>
        <button class='shop-now-btn' onclick="window.location.href='#product-list'">Shop Now</button>
      </div>

    </section>
    <section class='product-showcase'>
      <div class='product-track' id='product-track'>

      </div>
    </section>
  </header>

  <!-- Products -->
  <section class='products'>
    <h2>Featured Products</h2>
    <div class='product-grid' id='product-list'>
      {{#each products}}
      <div class="product-card">
        <a href="product/{{this.category}}/{{this.slug}}"><img src="/img/products/{{this.image.[0]}}"
            alt="{{this.image}}"></a>
        <h3>{{this.name}}</h3>
        <p></p>
        <div class="product-actions">
          <div class="sizes">
            {{#each this.sizes}}
            <span>{{this.label}}</span>
            {{/each}}

          </div>
        </div>
      </div>

      {{/each}}

    </div>
  </section>

</body>
