{{#section "css"}}

<link rel='stylesheet' href='/css/product_details.css' />



{{/section}}

<div class='product-container'>
    <div class='grid'>
        <!-- Left: Image Carousel + Accordion -->
        <div class='left-column'>
            <div class='image-section'>
                <div class='carousel'>
                    <!-- remove buttons if you don’t need them -->
                    <div class='carousel-track' id='carousel-track'>
                        {{#each product.image}}
                            <div class='carousel-item'>
                                <img src='/img/products/{{this}}' alt='{{../product.name}}' />
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>

            <div class='accordion' id='accordion'>
                {{#each product.details}}
                    <div class='accordion-item'>
                        <button class='accordion-header'>{{@key}}</button>
                        <div class='accordion-content'>
                            <p>{{this}}</p>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        <!-- Right: Info -->
        <div class='info-section'>
            <h1 id='product-name'>{{product.name}}</h1>
            <p id='product-price'>{{product.price}}</p>
            <p id='product-stock'>
                {{#each product.sizes}}
                    <div>{{this.label}}: {{#if this.stock}}In Stock{{else}}Out of Stock{{/if}}</div>
                {{/each}}
            </p>
            <p id='product-story'>{{product.description}}</p>

            <!-- Colors -->
            <div class='product-option'>
                <label>Color:</label>
                <div id='color-options' class='color-options'>
                    {{#each product.color}}
                        <button class='color-btn' id="color-btn" style='background-color: {{this}};'></button>
                    {{/each}}
                </div>
            </div>

            <!-- Sizes -->
            <div class='product-option'>
                <label>Size:</label>
                <div id='size-options' class='size-options'>
                    {{#each product.sizes}}
                        <button class='size-btn'>{{this.label}}</button>
                    {{/each}}
                </div>
            </div>

            <!-- Quantity -->
            <!-- Quantity -->
            <div class='product-option'>
                <label>Quantity:</label>
                <div class='quantity-control'>
                    <button id='decrease-qty' class='qty-btn'>-</button>
                    <input type='text' id='quantity' value='1' />
                    <button id='increase-qty' class='qty-btn'>+</button>
                </div>
            </div>
            <!-- Actions -->
            <div class='actions'>
                <button id='add-to-cart' class='btn add-cart'>Add to Cart</button>
                <button id='purchase' class='btn purchase'>Purchase</button>
            </div>
        </div>

    </div>
</div>



